#card_cerveza {
  display: flex;
  justify-content: center;
  align-items: center; }
  #card_cerveza .card {
    margin: 50px; }

#canvas_carrito {
  display: flex;
  align-items: center;
  justify-content: center; }
  #canvas_carrito #boton_carrito {
    margin: 15px; }
  #canvas_carrito .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    #canvas_carrito .card-body .titulo-estilo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
    #canvas_carrito .card-body .card-title {
      margin-bottom: 0px; }
  #canvas_carrito #litros_pedidos {
    display: flex;
    justify-content: space-between; }
    #canvas_carrito #litros_pedidos #eliminar_carrito {
      margin: 0px 10px; }
  #canvas_carrito #total_carrito {
    margin: 12px; }
    #canvas_carrito #total_carrito p {
      font-size: 16px;
      margin-bottom: 0px; }
    #canvas_carrito #total_carrito h4 {
      margin-top: 12px;
      margin-bottom: 3px; }
  #canvas_carrito #vaciar_carrito {
    margin: 12px;
    margin-top: 0px;
    width: 40%; }
  #canvas_carrito #finalizar_compra {
    margin: 12px;
    margin-top: 0px; }
  #canvas_carrito #boton_total {
    width: 40%;
    margin: 12px; }

.card-img-top {
  margin-top: 12px; }

.btn-warning {
  margin-bottom: 12px; }

.card {
  margin: 12px; }

.dropdown {
  display: flex;
  flex-direction: row; }
  .dropdown i {
    font-size: 20px; }

.card-body {
  padding: 0px;
  margin-left: 10px; }

.ul_carrito {
  margin: 10px; }
