#card_cerveza {
  display: flex;
  justify-content: center;
  align-items: center; }
  #card_cerveza .card {
    margin: 50px; }

#canvas_carrito {
  display: flex;
  align-items: center;
  justify-content: center; }
  #canvas_carrito #boton_carrito {
    margin: 15px; }

.card-img-top {
  margin-top: 12px; }

.btn-warning {
  margin-bottom: 12px; }

.card {
  margin: 12px; }

.dropdown {
  display: flex;
  flex-direction: row; }
  .dropdown i {
    font-size: 20px; }

.card-body {
  padding: 0px;
  margin-left: 10px; }

.ul_carrito {
  margin: 10px; }
